<button attrs="data.rootAttrs"
    w-onclick="handleClick"
    w-bind="./widget">

    <if test="data.label">
        ${data.label}
    </if>
    <invoke function="data.renderBody(out)"
        else-if="data.renderBody"/>
</button>