<button attrs="data.rootAttrs"
    w-onclick="handleClick"
    w-bind>

    <if test="data.label">
        ${data.label}
    </if>
    <invoke function="data.invokeBody()"
        else-if="data.invokeBody"/>
</button>