<optimizer-page package-path="./optimizer.json" />

<layout-use template="src/layouts/default/template.marko">
    <layout-put into="title">
        RaptorJS UI Components Playground
    </layout-put>
    <layout-put into="body">
        <app/>
    </layout-put>
</layout-use>