<div class="${data.className}" w-bind>

    <button type="button" w-onClick="handleDecrementClick">
        -
    </button>

    <input type="text" value="${data.value}" size="4"
        w-onKeyUp="handleInputKeyUp">

    <button type="button" w-onClick="handleIncrementClick">
        +
    </button>

</div>