<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        RaptorJS UI Components
    </title>
    <optimizer-head/>
</head>
<body>
    <layout-placeholder name="header">
    </layout-placeholder>

    <main id="main">
        <layout-placeholder name="body"/>
    </main>

    <app-footer/>

    <optimizer-body/>
    <async-fragments/>
    <init-widgets immediate/>

    <browser-refresh enabled="true"/>
</body>
</html>
